<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>חנויות</ion-title>
    </ion-navbar>
</ion-header>



<h3>Ionic Menu Starter</h3>


<button ion-button secondary menuToggle>פתח תפריט</button>
<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <ion-grid>
                    <ion-row>

                        <img class="flat-image" src="assets/imgs/logo-small.png"/>


                    </ion-row>

                    <ion-row>

                        <div class="card-roling" >
                            <ion-slides  *ngIf="rollerBenefits && rollerBenefits.length > 0" slidesPerView="4" loop="true" speed="5000"  autoplay="10" direction="vertical">
                                <ion-slide *ngFor="let benefit of rollerBenefits">
                                    <div class="card list">
                                        <div class = "item item-divider">
                                            <h3>{{benefit.title}}</h3>
                                        </div>

                                        <div class = "item item-text-wrap">
                                            <h3>{{benefit.description}}</h3>
                                        </div>

                                        <div class = "item item-divider">
                                            <a href="{{benefit.link}}">הצג הטבה</a>
                                        </div>
                                    </div>


                                </ion-slide>
                            </ion-slides>
                        </div>

                    </ion-row>
                </ion-grid>
            </ion-col>

            <ion-col col-8>
                <!--  header righ side-->
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h1>מזל טוב יש לך הטבות בחנויות הבאות</h1>
                        </ion-col>
                        <ion-col col-3><!-- place holder-->
                        </ion-col>
                        <ion-col col-3>
                            <img class="flat-image" src="assets/imgs/{{user.image}}"/>
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col col-3><!-- place holder-->
                        </ion-col>
                        <ion-col col-9>
                            <h3 float-left>בחר\י חנות כדי לראות אילו הטבות ברשותך</h3>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <!-- cards -->
                <!--<ion-scroll scrollY="true" direction="xy" overflow-scroll="true">-->
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 *ngFor="let shop of shops, let i = index">
                            <div style="text-align: center; padding: 1px; direction: rtl">
                                <ion-card  id="card{{i}}" (click)="navigateToBenefits(shop)">
                                    <img src="assets/imgs/{{shop.image}}">
                                    <ion-item item-right="">
                                        <ion-icon name="pin" item-start large></ion-icon>
                                        <h2>{{shop.name}}</h2>
                                        <!--<p>11 N. Way St, Madison, WI 53703</p>-->
                                    </ion-item>

                                    <!--<ion-item>-->
                                    <!--<ion-icon name="wine" item-left large ></ion-icon>-->
                                    <!--<h2>Institute of Fine Cocktails</h2>-->
                                    <!--<p>14 S. Hop Avenue, Madison, WI 53703</p>-->
                                    <!--</ion-item>-->

                                    <ion-item>
                                        <span item-left>{{shop.benefits.length}} הטבות</span>
                                        <!--<span item-left>(2.6 mi)</span>-->
                                        <!--<button ion-button icon-right clear item-end (click)="navigateToBenefits(shop)">-->
                                        <!--<ion-icon name="navigate"></ion-icon>-->
                                        <!--הצג {{shop.benefits.length}} הטבות-->
                                        <!--</button>-->
                                    </ion-item>

                                </ion-card>
                            </div>

                        </ion-col>

                    </ion-row>
                </ion-grid>
                <!-- cards -->

                <!--</ion-scroll>-->
                <ion-row>
                    <ion-col col-3><!-- place holder-->
                    </ion-col>
                    <!--<ion-col col-6>-->
                    <!--<button ion-button round outline (click)="navigateToBenefits(user)">הראה לי את ההטבות שלי</button>-->
                    <!--</ion-col>-->
                    <ion-col col-3><!-- place holder-->
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
