<!--<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">-->
<link rel="stylesheet" href="assets/imgs/DanaYadAlefAlefAlefNormal.css">
<link rel="stylesheet" href="assets/imgs/Nehama.css">
<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <ion-buttons start>
                <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title text-center>
                <img class="logo flat-image" src="assets/imgs/logo-small.png"/>
                <img style="width: 50px; height: 50px"  class="flat-image user-image" src="assets/imgs/{{user.image}}"/>
            </ion-title>
            <ion-buttons end>
                <button ion-button round outline (click)="navigateToNextPage(user)">המשך</button>
                <!--<button ion-button icon-only color="royal" (click)="navigateToNextPage(user)">-->
                <!--<ion-icon name="person-add"></ion-icon>-->
                <!--</button>-->
            </ion-buttons>
        </ion-toolbar>



    </ion-navbar>
</ion-header>



<h3>Ionic Menu Starter</h3>


<button ion-button secondary menuToggle>פתח תפריט</button>
<ion-content class="mainContent">
    <!--header grid-->
    <!--  <ion-grid>
          <ion-row>
              &lt;!&ndash;clubook logo&ndash;&gt;
              <ion-col col-4>
                  <img style="width: 100%;" class="flat-image" src="assets/imgs/logo-small.png"/>
              </ion-col>
              &lt;!&ndash;clubook logo end&ndash;&gt;
              &lt;!&ndash;header&ndash;&gt;
              <ion-col col-4>
                  <h1> ברוכים הבאים</h1>
              </ion-col>
              &lt;!&ndash;header end&ndash;&gt;
              <ion-col col-4>
                  <img  class="flat-image user-image" src="assets/imgs/{{user.image}}"/>
              </ion-col>
          </ion-row>
      </ion-grid>-->
    <!--header grid end-->
    <!--clubs and commercials grid-->
    <ion-grid>
        <ion-row>
            <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
                <div class="card-roling" >
                    <h1>מבצעים</h1>
                    <ion-slides  *ngIf="rollerBenefits && rollerBenefits.length > 0" slidesPerView="4" loop="true" speed="5000"  autoplay="10" direction="vertical">
                        <ion-slide *ngFor="let benefit of rollerBenefits">
                            <ion-item  class="box box3 shadow3">
                                <ion-avatar item-start>
                                    <img src="assets/imgs/Logo/{{benefit.club.imageName}}">
                                </ion-avatar>
                                <h2>{{benefit.title}}</h2>
                                <p>{{benefit.description}}</p>
                            </ion-item>
                        </ion-slide>
                    </ion-slides>
                </div>

            </ion-col>
            <!--clubs-->
            <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 >
                <h1 class="cards-title">מגיע לך הטבות! בחר אחת מהחנויות הבאות</h1>
                <ion-scroll style="direction: rtl" scrollY="true" direction="xy" overflow-scroll="true">
                    <!--<ion-grid class="clubs-grid">-->
                        <!--<ion-row>-->
                            <!--<ion-col col-4 *ngFor="let shop of shops, let i = index">-->
                                <!--<div style="text-align: center; padding: 1px; direction: rtl">-->
                    <ion-list>
                                    <ion-item *ngFor="let shop of shops, let i = index" id="card{{i}}" (click)="navigateToBenefits(shop)">
                                        <ion-thumbnail item-start>
                                            <img src="assets/imgs/{{shop.image}}">
                                        </ion-thumbnail>
                                        <ion-icon name="pin" item-start large></ion-icon>
                                        <span>{{shop.name}}</span>
                                        <p item-right>{{shop.benefits.length}} הטבות</p>
                                        <!--<button ion-button clear item-end>View</button>-->
                                    </ion-item>
                    </ion-list>
                                   <!-- <ion-card  id="card{{i}}" (click)="navigateToBenefits(shop)">
                                        <img src="assets/imgs/{{shop.image}}">
                                        <ion-item item-right="">
                                            <ion-icon name="pin" item-start large></ion-icon>
                                            <h2>{{shop.name}}</h2>
                                            &lt;!&ndash;<p>11 N. Way St, Madison, WI 53703</p>&ndash;&gt;
                                        </ion-item>
                                        <ion-item>
                                            <span item-left>{{shop.benefits.length}} הטבות</span>
                                        </ion-item>

                                    </ion-card>-->
                                <!--</div>-->

                            <!--</ion-col>-->

                        <!--</ion-row>-->

                    <!--</ion-grid>-->
                </ion-scroll>

            </ion-col>
            <!--clubook logo end-->
        </ion-row>
        <ion-row>
            <ion-col col-3><!-- place holder-->
            </ion-col>
            <ion-col col-6>
                <!--<img style="width: 100%;" class="flat-image" src="assets/imgs/logo-small.png"/>-->
            </ion-col>
            <ion-col col-3><!-- place holder-->
            </ion-col>
        </ion-row>
        <!-- cordova plugin add cordova-plugin-ionic &#45;&#45;save \
         &#45;&#45;variable APP_ID="22c8a3de" \
         &#45;&#45;variable CHANNEL_NAME="Master" \
         &#45;&#45;variable UPDATE_METHOD="background"-->




    </ion-grid>
    <!--clubs and commercials grid end-->

</ion-content>
