page-shops {

  //@font-face { font-family: Delicious; font-weight: bold; src: url('DanaYadAlefAlefAlef-Normal.otf');}

  .mainContent {
    background-color: color($colors, background, base);
  }

  ion-scroll {
    white-space: nowrap;
    height: 500px; // better to calculate the device height and set it offsetting the bottom StatusBar or margin, etc.
  }

  .ion-grid-limited {
    height: 200px;
    justify-content: center;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
  }

  h3 {
    //margin-top: 1rem;
    font-size: 2rem;
    text-align: left;
    padding: 0px;
    margin: 0px;
  }

  ion-card {
    //position: relative;
    text-align: center;
    //margin: 0;
  }


  .card {
    //height: 120px;
    //max-height: 120px;
    margin: auto auto;
    width: 100%;
    font-weight: bold;
  }
  .card img {
    min-height: 100px;
    max-height: 100px;

  }

  .card-image {
    //max-height: 85px;
    font-weight: bold;
    color: #111;
    margin: auto;
  }
  .card-title {
    //top: 36%;
    //font-size: 1.0em;
    //width: 100%;
    font-weight: bold;
    color: #111;
  }
  .card-subtitle {
    font-size: 1.0em;
    top: 52%;
    width: 100%;
    color: #111;
  }

  .card-z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  }

  .slider-slide {
    //text-align: center;
  }
  .swiper-slide h3 {
    width: auto;
    height: auto;
    text-align: center;
    max-width: 100%;
    //max-height: 100%
  }
  .swiper-container {
    display: grid;
  }

  /////
  .box {
    //width:40%;
    //height:200px;
    //float:left;
    //background-color:white;
    //margin:1px;
    //border-radius:5px;
    //padding: 10px;
  }
}