// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: #eff3f7 !important;
}

ion-label{
    color: black !important;
}



.main-title {
    //border: 1px solid #b67930;
    //border-radius: 20px;
    color: #31708f;
    //background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    //margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    //padding-left: 18px;
    //padding-right: 18px;
    //padding-bottom: 8px;
    //font-family: 'Amatic SC', cursive;
    //font-family: DanaYadAlefAlefAlefNormal, sans-serif;
    font-family: comixno2clm_boldwebfont, sans-serif;
    //font-family: Nehama, sans-serif;
    background-color: #95b0c5;
    //background: linear-gradient(to right, rgb(247, 151, 30), rgb(255, 210, 0));
    //background: linear-gradient(to right, rgb(68, 160, 141), rgb(9, 54, 55));
    color: black;
    //text-shadow: 1px 2px #b67930;
    //text-shadow: 1px 2px white;
}

.logo {
    width: 100%;
    height: 50px;
    float: left;
}

.user-image {
    //width: 200px;
    //height: 200px;
    float: right;
    max-width: 145px;
    border-radius: 100px;
    width: 50px; height: 50px
}

.sales-title{
    font-family: comixno2clm_boldwebfont, sans-serif;
    //background-color: #dff0d8;
    //background: linear-gradient(to right, rgb(68, 160, 141), rgb(9, 54, 55));
   //border-color: #d6e9c6;
    background: transparent;
    padding: 15px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
    border-radius: 4px
}

.flat-image {
    width: 145px;
    //height: 85px;
    max-width: 145px;
    max-height: 85px;
    font-weight: bold;
    color: #111;
}
.card-roling {
    height: 200px;
    min-height: 400px;

}

.roller{
    background: url('../assets/imgs/fox.png');
    //background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 20px 10px 20px;
}

.box{
    padding: auto;
    background: #ffffff00;
    //background: linear-gradient(to right, rgba(255,0,0,0), rgb(4, 99, 77));
    color: black;
    height: 90px;
    min-height: 90px;
}

.right-col{
    padding: 5px 20px 10px 20px;
}

