<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>כרטיסים</ion-title>
  </ion-navbar>
</ion-header>



  <h3>Ionic Menu Starter</h3>


  <button ion-button secondary menuToggle>פתח תפריט</button>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-grid>
          <ion-row>

            <img class="flat-image" src="assets/imgs/logo-small.png"/>


          </ion-row>

          <ion-row>

             <div class="card-roling" >
               
                <div *ngFor="let benefit of benefits">
                  <h3>This stuff should scroll.</h3>
                </div>
             </div>

          </ion-row>
        </ion-grid>
      </ion-col> 

      <ion-col col-8>
        <!--  header righ side-->
        <ion-grid>
          <ion-row>
             <ion-col>
                <h1> ברוכים הבאים לרשת פוקס</h1>
             </ion-col>
             <ion-col col-3><!-- place holder-->
             </ion-col>
             <ion-col col-3>
              <img class="flat-image" src="assets/imgs/fox.png"/>
             </ion-col>
             
          </ion-row>
          <ion-row>
            <ion-col col-3><!-- place holder-->
             </ion-col>
            <ion-col col-9>
             <h3 float-left> בחר את המועדונים שברשותך להצגת כל ההטבות שלך</h3>
             </ion-col>
          </ion-row>
        </ion-grid>
        <!-- cards -->
        <ion-scroll scrollY="true" direction="xy" overflow-scroll="true">
        <ion-grid >
          <ion-row>

            <ion-col col-3 *ngFor="let benefit of benefits">

              <div style="text-align: center; padding: 1px; background-color: #eee">
                  <ion-card (click)="chooseCard()">
                  <!-- img src="assets/imgs/leumi-card.jpeg"/ -->
                  <img class="card-image" src="assets/imgs/logo-small.png"/>

                  <div class="card-title">{{benefit.club.name}}</div>
                  <!-- div class="card-subtitle">{{benefit.description}}</div -->
                   </ion-card>
              </div>

            </ion-col> 

          </ion-row>
          
        </ion-grid>
      </ion-scroll>
      <ion-row>
        <ion-col col-3><!-- place holder-->
        </ion-col>
        <ion-col col-6>
          <button ion-button round outline>הצג מועדונים נוספים</button>
        </ion-col>
        <ion-col col-3><!-- place holder-->
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
