<!--<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">-->
<!--<link rel="stylesheet" href="assets/imgs/DanaYadAlefAlefAlefNormal.css">-->
<link rel="stylesheet" href="assets/imgs/comixno2clm_boldwebfont.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<ion-header>
    <ion-navbar>
            <ion-toolbar>
                <ion-buttons start>
                    <button ion-button menuToggle>
                        <ion-icon name="menu"></ion-icon>
                    </button>
                </ion-buttons>
                <ion-title text-center>
                    <img class="logo flat-image" src="assets/imgs/logo-small.png"/>
                    <img style="width: 50px; height: 50px"  class="user-image" src="assets/imgs/{{user.image}}"/>
                </ion-title>
                <ion-buttons end>
                    <button ion-button round outline (click)="navigateToNextPage(user)">המשך</button>
                    <!--<button ion-button icon-only color="royal" (click)="navigateToNextPage(user)">-->
                    <!--<ion-icon name="person-add"></ion-icon>-->
                    <!--</button>-->
                </ion-buttons>
            </ion-toolbar>



    </ion-navbar>
</ion-header>



<h3>Ionic Menu Starter</h3>


<button ion-button secondary menuToggle>פתח תפריט</button>
<ion-content class="mainContent">
    <ion-grid class="mainContentGrid">
        <ion-row>
        <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
            <div class="card-roling" >
                <h1 class="alert alert-success">מבצעים</h1>
                <ion-slides  *ngIf="rollerBenefits && rollerBenefits.length > 0" slidesPerView="4" loop="true" speed="5000"  autoplay="10" direction="vertical">
                    <ion-slide *ngFor="let benefit of rollerBenefits">
                        <ion-item  class="box box3 shadow3">
                            <ion-avatar item-start>
                                <img src="assets/imgs/Logo/{{benefit.club.imageName}}">
                            </ion-avatar>
                            <h2>{{benefit.title}}</h2>
                            <p>{{benefit.description}}</p>
                        </ion-item>
                    </ion-slide>
                </ion-slides>
            </div>

        </ion-col>
            <!--clubs-->
        <ion-col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 >
            <h1 class="cards-title">בחר את המועדונים שברשותך</h1>
            <ion-scroll scrollY="true" direction="xy" overflow-scroll="true">
                <ion-grid class="clubs-grid">
                    <ion-row>
                        <ion-col class="box" col-sm-4 col-md-4 col-6 *ngFor="let club of clubs, let i = index">
                            <!--<ion-card class="card" id="card{{i}}" (click)="chooseCard(i)">-->
                            <!--<ion-item class="card-header">-->
                                <!--<ion-avatar item-start>-->
                                    <!--&lt;!&ndash;<img class="card-image" src="assets/imgs/Logo/{{club.imageName}}"/>&ndash;&gt;-->
                                    <!--<img class="card-image" src="assets/imgs/logo.png"/>-->
                                <!--</ion-avatar>-->
                                <!--<h2 class="card-title" id="cardTitle{{i}}" >{{club.name}}</h2>-->
                                <!--<p class="card-impMethod" id="cardImplementMethod{{i}}" >כרטיס: {{club.implementMethod}}</p>-->
                            <!--</ion-item>-->

                                <!--<img class="card-image" src="assets/imgs/Logo/{{club.imageName}}">-->

                                <!--<ion-card-content>-->
                                    <!--<p>תיאור המועדון</p>-->
                            <!--</ion-card-content>-->
                            <!--</ion-card>-->
                            <ion-card class="card" id="card{{i}}" (click)="chooseCard(i)">
                                <ion-thumbnail item-start>
                                    <img class="" src="assets/imgs/Logo/{{club.imageName}}"/>
                                </ion-thumbnail>
                                <h2  class="" id="cardTitle{{i}}" >{{club.name}}</h2>
                                <!--<p  class="card-impMethod" id="cardImplementMethod{{i}}" >כרטיס: {{club.implementMethod}}</p>-->
                                <!--<button ion-button clear item-end>View</button>-->
                            </ion-card>
                            <!--<div style="text-align: center;">-->
                                <!--<ion-card class="club-card" style="border-radius: 100px" id="card{{i}}" (click)="chooseCard(i)" >-->
                                    <!--&lt;!&ndash; img src="assets/imgs/leumi-card.jpeg"/ &ndash;&gt;-->
                                    <!--&lt;!&ndash;<img class="card-image" src="assets/imgs/logo-small.png"/>&ndash;&gt;-->
                                    <!--<img class="card-image" src="assets/imgs/Logo/{{club.imageName}}"/>-->

                                    <!--<div class="card-title" id="cardTitle{{i}}" >{{club.name}}</div>-->
                                    <!--<div class="card-impMethod" id="cardImplementMethod{{i}}" >כרטיס: {{club.implementMethod}}</div>-->
                                    <!--&lt;!&ndash; div class="card-subtitle">{{benefit.description}}</div &ndash;&gt;-->
                                <!--</ion-card>-->
                            <!--</div>-->

                        </ion-col>

                    </ion-row>

                </ion-grid>
            </ion-scroll>

        </ion-col>
        <!--clubook logo end-->
        </ion-row>
        <ion-row>
            <ion-col col-3><!-- place holder-->
            </ion-col>
            <ion-col col-6>
                <!--<img style="width: 100%;" class="flat-image" src="assets/imgs/logo-small.png"/>-->
            </ion-col>
            <ion-col col-3><!-- place holder-->
            </ion-col>
        </ion-row>
       <!-- cordova plugin add cordova-plugin-ionic &#45;&#45;save \
        &#45;&#45;variable APP_ID="22c8a3de" \
        &#45;&#45;variable CHANNEL_NAME="Master" \
        &#45;&#45;variable UPDATE_METHOD="background"-->




    </ion-grid>
    <!--clubs and commercials grid end-->

</ion-content>
