page-benefits {
  .mainContent {
    background-color: color($colors, background, base);
  }


  ion-scroll {
    white-space: nowrap;
    height: 500px; // better to calculate the device height and set it offsetting the bottom StatusBar or margin, etc.
  }

  .ion-grid-limited {
    height: 200px;
    justify-content: center;
  }



  h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
  }

  h3 {
    //margin-top: 1rem;
    font-size: 2rem;
    text-align: left;
    padding: 0px;
    margin: 0px;
  }

  ion-card {
    //position: relative;
    text-align: center;
    //margin: 0;
  }

  .card-title {
    //top: 36%;
    //font-size: 1.0em;
    //width: 100%;
    font-weight: bold;
    color: #111;
  }
  .card-subtitle {
    font-size: 1.0em;
    top: 52%;
    width: 100%;
    color: #111;
  }

}
